body {
    font-family: "Overpass", sans-serif;
    box-sizing: border-box;
  }
  
  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    background: #2B3044;
  }
  
  .section-header h1 {
    font: 400 32px "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  
  .video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 15px;
    max-width: 1100px;
    padding: 15px; 
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .video-gallery .gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    background: #000;
    cursor: pointer;
    overflow: hidden;
  }
  
  .video-gallery .gallery-item img {
    position: relative;
    display: block;
    width: 115%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
    /*transition: opacity .35s, transform .35s;*/
    transition: all 350ms ease-in-out;
    transform: translate3d(-23px, 0, 0);
    /*backface-visibility: hidden;*/
  }
  
  .north-cascades-img {
    object-position: 50% 30%;
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    padding: 32px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
  }
  
  .video-gallery .gallery-item .gallery-item-caption,
  .video-gallery .gallery-item .gallery-item-caption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 12px 0;
  }
  
  .video-gallery .gallery-item h2,
  .video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 1;
    pointer-events: none;
  }
  
  .video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover img {
    opacity: 0.3;
    transform: translate3d(0, 0, 0);
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
  }
  
  .video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
  }
  
  .video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  *{
    padding: 0;
    margin: 0;
}

header {
  position: relative;
  display: flex; /* Use Flex display to make sure the menu items sit up next to each other and fill the space of the header*/
  width: 99.85%;
  top: 0;
  left: 0.05%;
  right: 0.1%;

  background-color: #2a54ca;
  color: #fff;
  line-height: 2.5rem;
  font-size: 0.95rem;
}
header nav {
  position: relative;
  display: inline-flex; /* Use Flex display to make sure the menu items sit up next to each other*/
  width: 100%; /* How much of the header do you want the Nav menu to take up?*/
  left: 0%; /* How far too the right do you want it to be?*/
  line-height: auto; /* Does the navbar have the same height as the header? */
}
header nav a {
  position: relative;
  display: inline-flex;
  justify-content: center;

  text-decoration: none;
  background-color: inherit;
  color: #fcfaf9;
  border: 0.025px #fcfaf9 solid;
  transition: 0.15s background-color;
}
header nav a:hover {
  background-color: #97d0e3;
}

/* Sub-Menu - Drop-Down */
header nav ul li{
    width: 100%; /* (100*100)/(width of a) */
}
header nav a, header nav a:hover, header nav ul{
    width: 20%;
}
header ul.drop li a{
    width: 100%;
    color: #fff;
    transition: .15s background-color;
}
header ul.drop li a:hover{
    background-color: #cfd8dc;
}

.drop{
    position: absolute;
    top: 2.45rem;       /* 98% of the Line height of the Nav Area */
    list-style: none;   /* Take the <li> formatting OFF as default */
    display: block;
    background-color: #263238;
    height: 0%;         /* 100%*(numb of li items) --Auto will work if no custom req--  */
    width: 20%;          /* Same width as nav a|ul  --Auto will work if no custom req-- */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0.2s linear 0.7s;
}
header nav a:hover + ul.drop, ul.drop:hover{
    width: 20%;          /* Same width as header nav a|ul -- Only have to set it here if we are transition*/
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* Width of the <a>|<ul> mult by the number order of this drop menu (1st, 2nd, etc) */
#home-drop{     left: 0%; }      
#about-drop{    left: 20%; } 
#location-drop{ left: 40%; }      
#faq-drop{      left: 60%; } 
#contact-drop{  left: 80%; }      

/* 100%*(numb of li items in this drop down) --Auto will work but won't transition--  */
header nav a:hover + ul#home-drop, ul#home-drop:hover{         height: 200%; }
header nav a:hover + ul#about-drop, ul#about-drop:hover{       height: 400%; }
header nav a:hover + ul#location-drop, ul#location-drop:hover{ height: 100%; }
header nav a:hover + ul#faq-drop, ul#faq-drop:hover{           height: 300%; }
header nav a:hover + ul#contact-drop, ul#contact-drop:hover{   height: auto; }