body{
  overflow-x: hidden;
}
.header{
  display: flex;
  justify-content: space-around;
align-items: center;
  width: 100vw;
  height: 20vh;
 
}

#line-break{
  height: 20px;
  background-color: black;
}

.boat-pricing-tables{
display: flex;
justify-content: space-around;

}
.table1{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
}
.table1:hover{
  width: 10000px;
}
.table2{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
border-left: 0px;
}
.table2:hover{
  width: 10000px;
}
.table3{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
border-left: 0px;
}

.table3:hover{
  width: 10000px;
}
#boat-img1{
  width: 30vw;
  height: auto;
}
#boat-img2{
  width: 30vw;
  height: auto;
}
#boat-img3{
  width: 30vw;
  height: auto;
}
.maps{
 padding-bottom: 30%;
 position: relative;
}
.maps iframe{
  height: 95%;
  width: 100%;
  left: 0;
  top: 10px;
  position: absolute;
}

.footer{
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/*Mouse trail styles*/
.background-image{
  position:fixed;
  left:0;
  right:0;
  z-index: 1;
  display: block;
  /* background-image:url(https://tinyurl.com/y92dr3r6); */
  background-color:lightgray;
  background-size:cover;
width:100%;
height: 100%;
/* -webkit-filter: blur(5px);
  -moz-filter:blur(5px);
  -o-filter:(5px);
  -ms-filter: blue(5px);
  filter: blur(5px); */
}

.FunLines {
  position:absolute;
  left:0;
  top:0
}
.dot {
  width: 0px;
  height: 0px;
  background-color:teal;
  
  background-size:cover;
  background-position-x: 0px;
  background-position-y: 0px;
  position:absolute;
  border-radius:50%;
  z-index:1;
  -webkit-animation: reveal 0.3s ease;
}

@-webkit-keyframes reveal {
    0%   {width: 5px;}
    100%   {width: 20px;}
    0%   {height:5px;}
    100%   {height:20px;}
   
   
}
@keyframes reveal {
    0%   {width: 5px;}
    100%   {width: 10px;}
    0%   {height:5px;}
    100%   {height:10px;}
    
}