body{
  overflow-x: hidden;
}
.header{
  display: flex;
  justify-content: space-around;
align-items: center;
  width: 100vw;
  height: 20vh;
 
}

#line-break{
  height: 20px;
  background-color: black;
}

.boat-pricing-tables{
display: flex;
justify-content: space-around;

}
.table1{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
}
.table1:hover{
  width: 10000px;
}
.table2{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
border-left: 0px;
}
.table2:hover{
  width: 10000px;
}
.table3{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
text-align: center;
border: solid medium black;
border-left: 0px;
}

.table3:hover{
  width: 10000px;
}
#boat-img1{
  width: 30vw;
  height: auto;
}
#boat-img2{
  width: 30vw;
  height: auto;
}
#boat-img3{
  width: 30vw;
  height: auto;
}
.maps{
 padding-bottom: 30%;
 position: relative;
}
.maps iframe{
  height: 95%;
  width: 100%;
  left: 0;
  top: 10px;
  position: absolute;
}

.footer{
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
